body {
  margin : 0px;
  padding : 0px;
  background-color : rgb(23,23,23);
}

header {
  background-color: #02008c;
  padding-bottom: 35px;
}

#myHeader{
  text-align : center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
ul {
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  overflow: hidden;
  text-align:center;
  background-color: #333;
  width : 50%;
  margin: auto;
}

li  {
  display:inline;
  border-right: 1px solid #bbb;
}

li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding:10px;
  text-decoration: none;
}
  .mention{
float: left;
text-align: center;
background-color: red;
width: 100%;

  }

  .partie{
    background-color: rgb(93, 0, 243);
    width: 75%;
    height: 300px;
    text-align: center;

    
  }

  .rallye {
    float: left;
    width: 50%;
    background-color: red;
    height: 300px;
  
  }

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(44, 43, 43);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(0, 156, 26);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(240, 19, 19, 0.6);
}

.favorite{
  margin-top: 80px;

}
.seconde {
  float: left;
  text-align: center;
  background-color: rgb(117, 85, 85);
  width: 100%;
}
.evenement {
  float: left;
  width : 40%;
  background-color: rgb(80, 53, 53);
}

.image>img {

  animation-duration: 90s;
  animation-name: cc;
  animation-iteration-count: infinite;
 
}

.image>p {

  animation-duration: 1s;
  animation-name: cc;
  animation-iteration-count: infinite;
 
}

.actu{
  display: flex;
    float: right;
    width : 60%;
    background-color: rgb(0, 255, 72);
  
  
}

.imagelicence {

  margin-right:10%;
}
  .imagecalen {
    margin-right:10%;
}
.imagedigi {
  margin-right:10%;
  
}

.image {
  display: flex;
}
.img-deroulante{
  height: 300px;
  width: 1000px;

}
.ayo {
  width: 100%;
  position:  relative;
  margin-right:10%;
  margin-top: 28%;
}

@keyframes cc {
  0% {
      transform: translateX(0)
  }
  25% {
      transform: translateX(-725px)
  }
  50% {
      transform: translateX(-1400px)
  }
  75% {
      transform: translateX(-2500px)
  }
  100% {
      transform: translateX(0)
  }
}
#encore {
  overflow: hidden;
}

.img1{
  width: 100%;
  height: 5%;
}
.evenement>img{
  width: 65%;
  height: 510px;
}
.actu>img{
  width: 60%;

}
#TitleFooter{
  color: white;
  text-align : center;
}

#ParagrapheFooter{
  font-family : "Boldness Race";
  text-align : center;
  color: white;
  src: url("/font/BoldnessRace.ttf") format("ttf");
}

#Copyright{
  color: white;
  padding-top : 10px;
  text-align : center;
}

#bougestp{
  text-align: center;
}

.spons{
    
    background-color: bisque;
    height: 600px;
  
}

.imgspons{
  width:  4%;
  margin-left: 10%;
 margin-right: 5%;
 padding-right:1px;
 margin-top: 5%;
}
